button._tap_thumbnail_button {
    fill: #eee;
}

div._tap_thumbnail_button {
    position: absolute;
    width: 640px;
    height: 360px;
    z-index: 3000;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.35s;
}

input._tap_thumbnail_button {
    width: 640px;
    height: 360px;

    border: 2px solid black;
    border-radius: 8px;

    background-color: gray;
}