button._tap_thumbnail_button {
    fill: #eee !important;
}

div._tap_thumbnail_button {
    visibility: hidden;
    position: absolute;
    width: 640px;
    height: 360px;
    z-index: 2000;
}

input._tap_thumbnail_button {
    width: 640px;
    height: 360px;
}